<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.UserMapper">
    <select id="selectUserList" resultType="com.example.project.vo.UserVO">
        SELECT * FROM user_info
    </select>

    <select id="selectUser" resultType="com.example.project.vo.UserVO">
        SELECT * FROM user_info WHERE UI_NUM = #{uiNum}
    </select>

    <select id="selectUserById" resultType="com.example.project.vo.UserVO">
        SELECT * FROM user_info WHERE UI_ID = #{uiId}
    </select>

    <insert id="insertUser" parameterType="com.example.project.vo.UserVO">
        INSERT INTO user_info (
            UI_ID, UI_PWD, UI_NAME, UI_NICK_NAME, UI_ADDR1, UI_ADDR2, 
            UI_ZIP, UI_PHONE, UI_TRANS, UI_EMAIL, UI_DESC, UI_POINT, 
            UI_IMG_NAME, UI_IMG_PATH, UI_GRADE
        ) VALUES (
            #{uiId}, #{uiPwd}, #{uiName}, #{uiNickName}, #{uiAddr1}, #{uiAddr2},
            #{uiZip}, #{uiPhone}, #{uiTrans}, #{uiEmail}, #{uiDesc}, #{uiPoint},
            #{uiImgName}, #{uiImgPath}, #{uiGrade}
        )
    </insert>

    <update id="updateUser" parameterType="com.example.project.vo.UserVO">
        UPDATE user_info
        SET 
            UI_PWD = #{uiPwd},
            UI_NICK_NAME = #{uiNickName},
            UI_ADDR1 = #{uiAddr1},
            UI_ADDR2 = #{uiAddr2},
            UI_ZIP = #{uiZip},
            UI_PHONE = #{uiPhone},
            UI_TRANS = #{uiTrans},
            UI_EMAIL = #{uiEmail},
            UI_DESC = #{uiDesc},
            UI_POINT = #{uiPoint},
            UI_IMG_NAME = #{uiImgName},
            UI_IMG_PATH = #{uiImgPath},
            UI_GRADE = #{uiGrade},
            LMODAT = DATE_FORMAT(NOW(), '%Y%m%d'),
            LMOTIM = DATE_FORMAT(NOW(), '%H%i%s')
        WHERE UI_NUM = #{uiNum}
    </update>

    <delete id="deleteUser">
        DELETE FROM user_info WHERE UI_NUM = #{uiNum}
    </delete>
</mapper>